/*Color theme*/
:root {
    --primary-white: aliceblue;
    --secondary-orange: orangered;
    --secondary-red: crimson;
    --valid-color: rgb(0, 255, 255);
    --theme-base-font: Consolas;
    --stylized-head-font: Arial, Polya Regular;
    --background-image: url('demo 6 scaledown.jpg');
}
body {
    display: flex; /* specify flex type of box for body*/
    flex-direction: column;
    justify-content: flex-start; /* horizontally */
    align-items: center;  /* vertically */
    min-height: 100vh;
    /* height: fit-content; */
    margin: 0;
    /*Cascadia Code, Polya Regular, Consolas, ISOCTEUR,, 'Courier New', Courier, monospace*/
    font-family: var(--theme-base-font);
    background-color: #000000;
}
body::before {/*shading bg, if doing this indside body, it affect other elements of body, so I move the bg here and filter color here too*/
    content: "";
    position: fixed; /*body is the largest div, so using absolute may cause ::before to not cover the whole website, and make the bg scaled down in resolution*/
    top: 0; left: 0; right: 0; bottom: 0;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%), var(--background-image); */
    background: linear-gradient(to bottom left, rgb(0, 20, 65), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    z-index: -1;
    /*z-index controls the stacking order of elements.
    Higher numbers appear on top, lower numbers appear underneath.*/
    /* filter: contrast(1);
    animation: contrastShift 10s linear infinite; */
    animation: hueShift 10s linear infinite;
}
@keyframes contrastShift {
    0% {
        filter:
            contrast(1);
    }
    50% {
        filter:
            contrast(1.1);
    }
    100% {
        filter:
            contrast(1);
    } 
}
/*This is css for the intro box */
/*------------------------------------------------------------------------------------------------------*/
#intro-block {
    display: inline-flex /* makes it shrink-wrap content */;
    /*background-image: linear-gradient(to bottom, var(--primary-white), var(--secondary-teal));*/
    height: 700px;
    width: 30%;
    min-width: 650px;
    /* font-size: 25px; */

    text-align: center;
    align-self: center;
    flex-direction: column;

    opacity: 1;

    margin: 25px 0px;
    /*margin 4val: all side
    margin 2 vals: top/bottom & left/right
    margin 3 vals: top & right/bottom & left
    margin 4 vals: top & right & bottom & left*/

    padding: 20px; /*spacing on all side*/

    /*border: 0;*/
    border-radius: 50px;
    
    box-sizing: border-box; /* padding doesn't exceed width */
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));

    /* transition: all 6s ease-in-out; */
    transition:
        box-shadow 0.5s ease-in-out,
        /* opacity 0.5s ease-in-out, */
        width 0.5s ease-in-out;
}
#intro-block:hover {
    width: 95%;
    /* opacity: 1; */
}
#caption { /* Program header name styling */
    margin: 0;
    font-size: 130px;
    font-family: var(--stylized-head-font);
    letter-spacing: 5px;

    color: var(--primary-white);
    /* background: linear-gradient(to right,rgba(0, 255, 255) 100%, rgba(255, 0, 0)10%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* color: transparent; */

    user-select: none; /*un interactable*/
    animation: hueShift 10s linear infinite;
    /* mix-blend-mode: color-dodge; */

    /*If I never been an artist, I would not discover this :*/
    text-shadow: 0px 0px 100px rgba(255, 255, 255, 0.1);

    transition:
        font-size 0.5s ease-in-out,
        letter-spacing 0.5s ease-in-out;
}

#intro-block:hover #caption {
    font-size: 130px;
    transition-delay: 0.2s;
    /*when website size is small, the border expand slower than caption, so I gave it delay*/
    letter-spacing: 50px;
    /* styles apply to #caption when #intro-block is hovered */
}
#subcaption {
    color: var(--secondary-orange);
    opacity: 0;
    margin-top: 0;
    font-size: 25px;
    user-select: none; /*un interactable*/

    transition: 
        opacity 1s ease-in-out;

    /* border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0); */
}
#intro-block:hover #subcaption {
    opacity: 1;
}
#intro-footer{
    display: inline-flex;

    position: fixed;
    
    flex-direction: row;
    color: var(--primary-white);
    font-size: 13px;
    opacity: 0.5;
    left: 50%;
    bottom: 2.5%;
    transform: translateX(-50%); /* Move anchor from end to middle of the text for centering dynamically*/
    margin: 0;
    
    user-select: none; /*un interactable*/
}
.onscreen-message {
    font-family: var(--theme-base-font);
    /* font-weight: bold; */
    color: white;
    font-size: 15px;
    z-index: 10;

    opacity: 0;
    margin: 0px;
    user-select: none; /*un interactable*/
    transition: 
        opacity 0.5s ease-in-out;
}
.onscreen-warning-message {
    font-size: 15px;
    font-family: var(--theme-base-font);
    
    opacity: 1;
    color: var(--secondary-red);
}
.onscreen-warning-message.valid {
    color: var(--valid-color);
    font-weight: 100;
}
.onscreen-warning-message.invalid {
    color: var(--secondary-red);
    font-weight: bold;
}
/*------------------------------------------------------------------------------------------------------*/
/*Radio algorithym styling, I will hid the original radio and use a label attached to each radio id
then the label can act as click point for it and then style the label, radio seem tobe old and is not very
customizable sadly.*/
#interface-block {
    text-align: center;
    align-self: center;
    opacity: 1;

    width: fit-content;
    transition: 
        opacity 0.2s ease-in-out;
}
#intro-block:hover #interface-describe-message {
    opacity: 1;
}
#algorithm-selector-radio-block {
    display: inline-flex;
    /* text-align: center; */
    overflow: hidden;
    width: fit-content;
    /* height: 35px; */
    /* opacity: 0.3; */
    margin: 50px auto 15px;

    align-self: center; /* stop this div from sticking it's left edge parent*/
    justify-content: center; /*center children*/

    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-white);
    box-shadow: 0 0 10px rgba(0, 0, 0);

    user-select: none;
}
.algorithm-selector-radio {
    display: none;
}
.algorithm-selector-label {
    padding: 10px 20px;
    color: var(--primary-white);
    background-color: rgba(255, 255, 255, 0);
    
    flex: 1 1 1;
    /* background-color: orangered; */
    cursor: pointer; /*change cursor when hover*/

    transition: 
        transform 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}
.algorithm-selector-label:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}
/* .algorithm-selector-label:not(:last-of-type) {
    all but last one, then turn the left edge visible, last one already have its right edge using its mother container    
     border-right: 2px solid white; 
} */
.algorithm-selector-radio:checked + .algorithm-selector-label {
    /*select label of the checked radio*/
    background-color: var(--primary-white);
    color: black;
    font-weight: bold;
}
.algorithm-selector-radio:not(:checked) + .algorithm-selector-label {
    /*select label of the checked radio*/
    opacity: 0.7;
}

.interface-input { 
    text-align: center;
    font-family: var(--theme-base-font);
    
    color: var(--primary-white);
    min-width: 200px;
    width: fit-content;
    height: 25px;
    font-size: 15px;

    padding: 10px 20px;
    background: rgba(0, 255, 255, 0);

    outline: none; /* outline != border, it is use when input field is selected*/

    margin: 10px auto;
    padding: 10px 20px;
    
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 30px;

    transition: 
        transform 0.2s ease-in-out,
        background 0.2s ease-in-out;
}
.interface-input:hover {
    background: rgba(0, 255, 255, 0.1);
    transform: scale(1.1);
}
.interface-input.valid {
    border-color: var(--valid-color);
}
.interface-input.invalid {
    /* border-color: var(--secondary-red); */
}
.input-mirrorer {/*to measure stringlength from input, do the autostretch in javascript with this later*/
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font-family: var(--theme-base-font);
    font-size: inherit;
    padding: 10px 20px;
  }
  #run-button {
    text-align: center;
    font-family: var(--stylized-head-font) !important;
    color: var(--primary-white);
    font-family: var(--theme-base-font);

    min-width: 150px;
    width: fit-content;
    height: 50px;
    font-size: 15px;

    margin: 25px auto;
    padding: 10px 20px;

    background: black;
    border-width: 3px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 40px;

    transition: 
        transform 1s ease-in-out,
        all 0.2s ease-in-out;

    cursor: pointer;
  }
  #run-button:hover {
    color: black;
    background-color: var(--primary-white);
    transform: scale(1.1);
  }
/*simulation table*/
/*------------------------------------------------------------------------------------------------------*/
#sim-table {
    display: flex;

    flex-wrap: nowrap;             /* Prevent wrapping to a new line */
    white-space: nowrap;           /* Prevents text inside from wrapping */
    overflow-x: auto;              /* Enable horizontal scrolling */

    font-size: 25px;
    align-self: center;
    flex-direction: column;
    margin: 0;
    /* background-color: whitesmoke; */
    min-height: 75px;
    max-height: 500;
    min-width: 650px;
    max-width: 1800px;
    width: fit-content;
    margin: 50px;

    user-select: none; /*un interactable*/
    border-radius: 25px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.sim-row {
    display: flex;
    flex-wrap: nowrap;             /* Prevent wrapping to a new line */
    white-space: nowrap;           /* Prevents text inside from wrapping */
    overflow-x: auto;              /* Enable horizontal scrolling */
    
    width: fit-content;
    align-self: center;

    gap: 2vh;
    margin: 0px 0px; /*allside*/
    padding: 5px;
    
    /* border-radius: 20px; */
    /* border-bottom: 10px solid rgba(0, 0, 0, 0.8); */
    flex-direction: row;
}
.sim-header-row {
    /* border-width: 2px;
    border-style: solid;
    border-color: white;*/
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
}
.sim-table-cell {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    width: 50px;
    height: 25px;
    
    border-color: white;
    margin: 0;
}
.svg-simulated-line {
    stroke: gold;
    stroke-width: 2px;
    stroke-linecap: round;
    opacity: 0.7;
    stroke-dasharray: 5,5;

    animation: svgLineFlow 0.5s linear infinite;
}

/*liveCell is cell that is selected by algorithm, configured and use in script file.
/*Animation list*/
/*------------------------------------------------------------------------------------------------------*/
@keyframes hueShift {
    0% {
      filter: hue-rotate(-20deg);
    }
    50% {
      filter: hue-rotate(80deg);
    }
    100% {
      filter: hue-rotate(-20deg);
    }
}
@keyframes svgLineFlow {
    0% {
        stroke-dashoffset: 20;
    }/*config was 5,5 so only 5 10 15 ... create a smooth loop, and got me the illution of flow*/
    100% {
        stroke-dashoffset: 0;
    }
}